extends layout

block content
    h1.title(class="text-center")= title
    p I am a Computer Science and Engineering graduate from THE Ohio State University. I play around with cameras in my free time (and hopefully will have some examples here soon.) I'm a fan of design, japanese sports cars, and coffee. This website is me trying to force myself to learn Node.js and Express, as well as get a better grasp on Bootstrap, and my next goal as to add React.js and MongoDB to make a complete MERN stack webapp. 
    P I feel most relaxed when riding public transportation, and believe everyone shouldn't have to drive a car to be able to get around. In the future, I would love to have the opportunity to combine computer science with public transportation to improve transit in the US. For now, I'm enjoying web design and trying to learn a few of the seemingly unending technologies in the field.