extends layout

block content
    h1= title
    ul
        li
            a(href="https://github.com/tburnett3000") Github
        li
            a(href="mailto:mail@tomburnett.space") mail@tomburnett.space
        li
            a()