extends layout

block content
    h1= title
    .container-fluid
        .row(class="justify-content-start")
            .col
                img.github-link(src="/images/GitHub-Mark-32px.png")
                a(href="https://github.com/tburnett3000") Github
        .row(class="justify-content-start")
            .col
                img.linkedin-link(src="/images/In-2C-14px.png")
                a(href="https://www.linkedin.com/in/thomas-burnett-3121a3167/") Linkedin
        .row(class="justify-content-start")
            .col
                img.email-link(src="/images/iconfinder_mail-24_103176.png")
                a(href="mailto:mail@tomburnett.space") mail@tomburnett.space