doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body(class="bg-dark")
    header(class="bg-light")
      ul(class="nav nav-pills nav-fill")
        li(class="nav-item")
          a(class="nav-link" href="/") Home
        li(class="nav-item") 
          a(class="nav-link" href="/about") About
        li(class="nav-item") 
          a(class="nav-link" href="/contact") Contact
    section#wrapper
        div(class="container_fluid no_padding")
          .row
            .col-md-12
              img(class="img-responsive w-100" src='images/jan19-1.jpg')
        block content
        footer 
          