.img-fluid:padding: 0px {
  position: relative;
  z-index: 5;
}
.navbar {
  background: rgba(248,249,250,0.5);
  position: relative;
  z-index: 10;
}
.navbar-brand img {
  height: 30px;
  width: 30px;
}
.github-link {
  height: 14px;
  width: 14px;
}
.email-link {
  height: 14px;
  width: 14px;
}
.spacer {
  padding-bottom: 10vh;
}
.col-md-6 .text-left {
  padding-left: 2vh;
}
.col-md-6 .text-right {
  padding-right: 2vh;
}
