.img-fluid:padding: 0px {
  position: relative;
  z-index: 5;
}
.navbar {
  background: rgba(248,249,250,0.5);
  position: relative;
  z-index: 10;
}
.navbar-brand img {
  height: 30px;
  width: 30px;
}
.contact-logo {
  height: 14px;
  width: 24px;
  padding-right: 10px;
}
.spacer {
  padding-bottom: 10vh;
}
.col-md-6 .text-left {
  padding-left: 2vh;
}
.col-md-6 .text-right {
  padding-right: 2vh;
}
.title {
  font-family: 'Courier New', Courier, monospace;
}
